---
title: Learning Center
permalink: /learning-center/
layout: single
---
	  

<h3>
GANs:</h3>
<ul>
<li><a href="https://github.com/GKalliatakis/Delving-deep-into-GANs">List of GANs</a></li>
<li><a href="https://www.youtube.com/channel/UCWN3xxRkmTPmbKwht9FuE5A">Siraj Ravals Gan Tutorials</a></li>
</ul>

<h3>
One Shot Learning:</h3>
<ul>
<li><a href="https://www.youtube.com/channel/UCWN3xxRkmTPmbKwht9FuE5A">Siraj Ravals One shot Tutorials</a></li>
<li><a href="https://arxiv.org/pdf/1605.06065" >One-shot Learning with Memory-Augmented Neural Networks</a></li>
<li><a href="https://arxiv.org/pdf/1702.06559.pdf">Active One-shot Learning</a></li>
<li><a href="https://arxiv.org/abs/1708.05344" >SMASH: One-Shot Model Architecture Search through HyperNetworks</a></li>
</ul>

<h3>
Reinforcement Learning / Q Learning:</h3>
<ul>
<li><a href="https://medium.com/emergent-future/simple-reinforcement-learning-with-tensorflow-part-0-q-learning-with-tables-and-neural-networks-d195264329d0">Q learning Tutorial with Tensor Flow</a></li>
</ul>



<h3>
Computer Vision and Perception:</h3>
<ul>
<li><a href="https://github.com/kjw0612/awesome-deep-vision">Awesome Deep Vision</a></li>
</ul>


<h3>
NLP and Time Series Data:</h3>
<ul>
<li><a href="https://www.youtube.com/channel/UCWN3xxRkmTPmbKwht9FuE5A">Siraj Ravals Tutorials</a></li>
</ul>



<h2>
Archive:</h2>
<div>
<ul>
<li><a href="https://docs.google.com/spreadsheets/d/1LV99bP8e9jvChiaUY_HPETYuQnhavVuMjRbdSBHoRik/edit#gid=0">https://docs.google.com/spreadsheets/d/1LV99bP8e9jvChiaUY_HPETYuQnhavVuMjRbdSBHoRik/edit#gid=0</a></li>
<li><a href="https://etherpad.wikimedia.org/p/DL&amp;HO_reading_club">https://etherpad.wikimedia.org/p/DL&amp;HO_reading_club</a></li>
<li><a href="http://www.fastml.com/" target="_blank">FastML</a></li>
</ul>
</div>
<h2>

Tutorials and Lectures:</h2>
<div>
<ul>
<li><a href="https://www.youtube.com/watch?v=ggqnxyjaKe4&amp;app=desktop">https://www.youtube.com/watch?v=ggqnxyjaKe4&amp;app=desktop</a></li>
<li><a href="https://github.com/clab/dynet">https://github.com/clab/dynet</a></li>
</ul>
</div>

<h2>
Related Blogs:</h2>
{% for post in site.categories.Learning %}
  {% include archive-single.html %}
{% endfor %}